/*  STYLE POUR LA MAQUETTE ONEMILLION */

.style2 {
    color: white;
    text-align: center;
}

.btn {
    text-align: center;
    margin-top: 5rem;
}

.style4 {
    padding-top: 5rem;
    text-align: center;
}

h2 {
    color: #e74c3c;
    text-align: center;

}

.style5 {
    text-align: center;
}

.style6 {
    text-align: center;
}

.style7 {
    font-size: 6rem;
    color: rgb(81, 79, 79);
}

p {
    text-align: center;
    
}

.style8 {
    font-size: 6rem;
    background-color: rgb(81, 79, 79);
    border-radius: 50%;
    color: white;
}

.style9 {
    margin-top: 6rem;
    text-align: center;
}

.stylebtn1 {
    background-color: white;
    color: #e74c3c;
    border: grey solid 1px;
}

.style10 {
    margin-top: 6rem;
    text-align: center;
}

.style11 {
    font-size: 6rem;
    background-color: rgb(81, 79, 79);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.stylefooter {
    text-align: center;
    color: white;
    background-color: #e74c3c;
    padding-top: 10rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    padding-right: 16rem;
}